:root {
  --background: #ffffff;
  --foreground: #374151;
}

html,
body {
  min-width: 400px;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  flex-direction: column;
  font-family: var(--font-geist-mono);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--foreground);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}